:root {
  --gradient-bg-start: #f8ffc2;
  --gradient-bg-end: #ebedee;
  --gradient-bg: linear-gradient(180deg, var(--gradient-bg-start) 10%, var(--gradient-bg-end) 100%);
  --gradient-pink: linear-gradient(279deg, hsl(var(--primary)) 0%, hsl(var(--shoka-blue)) 100%);
  --gradient-header: linear-gradient(-225deg, #f8ffc2 0, #fdfbfb 100%);

  /* shoka migrate */
  --box-bg-shadow: rgba(0, 0, 0, 0.1);
  --grey-1-a5: rgba(253, 253, 253, 0.5);
  --gradient-shoka-button-start: hsl(var(--primary));
  --gradient-shoka-button-end: hsl(var(--primary) / 0.85);
  --gradient-shoka-button: linear-gradient(
    to right,
    var(--gradient-shoka-button-start) 0,
    var(--gradient-shoka-button-end) 100%
  );
  --shoka-blue: 69 100% 32%;
  --grey-4: 0 0% 80%;
  --color-pink: #f8ffc2;
  --color-pink-a3: rgba(248, 255, 194, 0.3);
}

.dark {
  --gradient-bg-start: #21252b;
  --gradient-bg-end: #000;
  --gradient-bg: linear-gradient(180deg, var(--gradient-bg-start) 10%, var(--gradient-bg-end) 100%);
  --gradient-header: linear-gradient(-225deg, #2d3230 0, #322d31 100%);

  /* shoka migrate */
  --box-bg-shadow: rgba(0, 0, 0, 0.5);
  --grey-1-a5: rgba(34, 34, 34, 0.5);

  --shoka-blue: 67 100% 88%;
  --grey-4: 0 0% 40%;
}
